<div id="home" class="home">
  <div class="banner_sec" style=" background: #fff url(assets/img/banner-1.jpg) center;background-size: cover;background-repeat: no-repeat;min-height: 50vh;">
      <!-- <div class="overlay" style="opacity: 0.7; background-color: rgb(0, 0, 0);"></div> -->
      <div class="container text-content">
          <h2 class="text-center">Et harum quidem rerum facilis est et <br/> expedita distinctio.</h2>          
          <div class="text-center">
            <a class="" href="">Discover more</a>
          </div>
      </div>
  </div>
  <section id="welcome">
    <div  class="container">
      <div class="row">
          <div class="col-lg-7 mb-7">
              <h3 class="text-left">Welcome to BH Books</h3>
              <p class="text-left">
                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
              </p>
          </div>
          <div class="col-lg-5 mb-5 contact text-center">
              <!-- <p>Please feel free to contact us</p> -->
              <h4>+91 90000 90000</h4>
              <p>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
              </p>
              <h6>bh@bhbooks.com</h6>
          </div>
      </div>
    </div>
  </section>
  <section id="product" class="container">
      <h4 class="text-center">Our Books</h4>
      <div class="row">
          <div class="col-lg-3 mb-3 text-left">
              <article>
                  <div class="unit-body">
                    <h5><a class="link">Book 1</a></h5>
                  </div>
                  <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus</p>
              </article>
              <article>
                  <div class="unit-body">
                    <h5><a class="link">Book 2</a></h5>
                  </div>
                  <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus</p>
              </article>
          </div>
          <div class="col-lg-6 mb-6 text-center">
            <img src="../../assets/img/book.png" class=" img-fluid"/>
          </div>
          <div class="col-lg-3 mb-3 text-right">
              <article>
                  <div class="">
                    <h5><a class="link">Book 3</a></h5>
                  </div>
                  <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus</p>
              </article>
              <article>
                  <div class="unit-body">
                    <h5><a class="link">Book 4</a></h5>
                  </div>
                  <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus</p>
              </article>
          </div>
        </div>
  </section>
  <section id="vision-mission">
    <div class="overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 text-center">
              <div class="icons">
                <i class="fa fa-superpowers"></i>
              </div>
              <h4>Our Service</h4>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus</p>
            </div>
            <div class="col-lg-4 mb-4 text-center">
                <div class="icons">
                  <i class="fa fa-eye"></i>
                </div>
                <h4>Our Vision</h4>
                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus</p>
            </div>
            <div class="col-lg-4 mb-4 text-center">
              <div class="icons">
                <i class="fa fa-globe"></i>
              </div>
              <h4>Our Mission</h4>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus</p>
            </div>
          </div>
    </div>
  </section>
</div>